<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>traq-autoclean-unreads</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
</head>
<body>
    <h1>traq-autoclean-unreads</h1>
    <p>GitHub: <a href="https://github.com/ras0q/traq-autoclean-unreads">ras0q/traq-autoclean-unreads</a></p>
    <p>定期的に各チャンネルの未読状況を確認し、BOT以外の投稿がなければ自動でそのチャンネルの未読を消化します。</p>
    {{ if eq .UserID "" }}
        <button hx-post="/oauth2/authorize">ログイン</button>
    {{ else }}
        <button>ログアウト</button>
        <p>トークンの破棄(ログアウト)はまだ実装されていません。直接<a href="https://q.trap.jp/settings/session">traQ</a>から行ってね。</p>
        <h2>フィルター</h2>
        <p>
            未読を消化する条件をカスタムすることができます。フィルターには<a href="https://cel.dev/">CEL</a>という言語が用いられています。<br/>
            言語仕様などは<a href="https://github.com/google/cel-spec/tree/master/doc">google/cel-spec<a>を参照してください。<br/>
            入力は<a href="https://github.com/ras0q/traq-autoclean-unreads/blob/main/internal/filter/cel_filter.go">CELInput</a>で定義されており、出力は真偽値となる必要があります。
        </p>
        <form hx-ext="response-targets" hx-put="/settings" hx-target-*="#result" hx-swap="textContent">
            <textarea
                name="filter"
                placeholder="フィルターをCEL言語で記述"
                style="font-family:monospace;width:80%;height:10rem;"
            >{{.CELFilter}}</textarea>
            <button type="submit">変更</button>
        </form>
        <code id="result" style="white-space:pre-wrap;"></code>
    {{ end }}
</body>
</html>
